# Postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_DATABASE_NAME=clientspeak
DB_HOST=db

# Spring boot port
SERVER_PORT=8080

# AI config
AI_ENABLED=true
AI_BASE_URL=
AI_API_KEY=
AI_FOLDER_ID=
AI_PROMPT_ID=

# MinIO
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=feedbacks

# Kafka topics
JOBS_TOPIC=parsing-jobs
LINKS_TOPIC=parsing-links-collected
FEEDBACKS_TOPIC=parsing-feedbacks
PARSING_DONE_TOPIC=parsing-done

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
VITE_KEYCLOAK_URL=http://localhost:8081
VITE_KEYCLOAK_REALM=clientspeak
VITE_KEYCLOAK_CLIENT_ID=frontend
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/clientspeak
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/clientspeak/protocol/openid-connect/certs
KC_DB_NAME=keycloak
KC_DB_USER=keycloak
KC_DB_PASSWORD=keycloak


VITE_API_BASE_URL=http://localhost:8080/api
